* {
  box-sizing: border-box;
}

:root {
  --col-primarius-fortis: #ffd700;
  --col-primarius: #e6c300;
  --col-primarius-levis: #ccad00;
  --col-primarius-levior: #b39800;
  --col-secundarius: #222;
  --col-secundarius-subfortis: #1A1A1A;
  --col-secundarius-iuxta-fortis: #151515;
  --col-secundarius-fortis: #111;
  --col-tertiarius: #DDD;
}

html {
  width: 100%;
  height: 100%;
}

body {
	background: conic-gradient(
		from 45deg,
		#151515 0,
		#151515 90deg,
		#111 90deg,
		#111 180deg,
		#1a1a1a 180deg,
		#1a1a1a 270deg,
		#222 270deg,
		#222 360deg
	);
	background-size: 1em 1em;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  background-image: linear-gradient(to bottom,var(--col-primarius-fortis) 0%,var(--col-primarius) 48%,var(--col-primarius-levis) 53%,var(--col-primarius-levior) 100%);
  flex-basis: 50%;
}

header > h1 {
  color: var(--col-secundarius);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 45%;
  height: 100%;
	border-left: solid 1px var(--col-primarius-levior);
	border-right: solid 1px var(--col-primarius-fortis);
}

nav > span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom,var(--col-primarius-fortis) 0%,var(--col-primarius) 48%,var(--col-primarius-levis) 53%,var(--col-primarius-levior) 100%);
  color: var(--col-secundarius);
  cursor: pointer;
	border-left: solid 1px var(--col-primarius-fortis);
	border-right: solid 1px var(--col-primarius-levior);
}

nav > span:hover {
  background-image: linear-gradient(to bottom,var(--col-primarius-levior) 0%,var(--col-primarius-levis) 48%,var(--col-primarius) 53%,var(--col-primarius-fortis) 100%);
}

fieldset {
  margin: 16px 32px!important;
  border: solid 2px var(--col-tertiarius);
  padding: 16px!important;
}

.descriptio > div > p, legend {
  color: var(--col-tertiarius);
}

main {
  margin: 32px;
  border: solid 1px #0000;
  background-image: linear-gradient(0deg, var(--col-secundarius-fortis), var(--col-secundarius));
  border-radius: 8px;
}

#ludi {
  background-image: linear-gradient(to bottom,var(--col-secundarius) 0%,var(--col-secundarius-subfortis) 48%,var(--col-secundarius-iuxta-fortis) 53%,var(--col-secundarius-fortis) 100%);
  border-radius: 8px 8px 0px 0px;
  padding: 8px;
}

#ludi > h2 {
  color: var(--col-tertiarius);
}

.descriptio {
  display: flex;
  justify-content: center;
}

.descriptio > img {
  width: 240px;
  height: 160px;
}

.descriptio > div {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type="button"], button {
  color: var(--col-secundarius);
  background-image: linear-gradient(to bottom,var(--col-primarius-fortis) 0%,var(--col-primarius) 48%,var(--col-primarius-levis) 53%,var(--col-primarius-levior) 100%);
  padding: 4px 8px;
  cursor: pointer;
  width: 20%;
}

input[type="button"]:hover, button:hover {
  background-image: linear-gradient(to bottom,var(--col-primarius-levior) 0%,var(--col-primarius-levis) 48%,var(--col-primarius) 53%,var(--col-primarius-fortis) 100%);
}
