* {
  box-sizing: border-box;
}

:root {
  --col-primarius: #e6c300;
  --col-secundarius: #222;
  --col-tertiarius: #DDD;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--col-secundarius);
}

header {
  width: 100%;
  height: 10%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px;
  background-color: var(--col-primarius);
}

header > h1 {
  color: var(--col-secundarius);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
